on:
  push:
    branches: [main, master]
  pull_request:

name: format-check.yaml

permissions: read-all

jobs:
  format-check:
    name: format-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Air
        uses: posit-dev/setup-air@63e80dedb6d275c94a3841e15e5ff8691e1ab237 # v1

      - name: Check formatting
        run: air format . --check

